body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-image: url('../fotos/dj.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: "Amarillo";
    src: url(../fuentes/Amarillo.otf),
        url(../fuentes/Amarillo.ttf);
    font-weight: normal;
    font-style: normal;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgba(248, 248, 244, 0.8);
}

h1 {
    font-family: "Amarillo";
    font-size: large;
    margin-left: 20px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.enlaces-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.enlaces-menu li a {
    all: unset;
    display: inline-block;
    position: relative;
    right: 17px;
    color: black;
    font-weight: bold;
}

.enlaces-menu li a:hover {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    color: black;
    cursor: pointer;
}

.enlaces-menu li a:visited {
    color: #b0b0b0;
}

#general {
    position: absolute;
    top: 15%;
    bottom: 20%;
    left: 0%;
    right: 0%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 16px;
    width: 60%;
    gap: 16px;
}

.contenido {
    width: 80%;
    margin: 0 auto 24px auto;
    align-items: center;
    border: 2px solid #b0b0b0;
    border-radius: 10px;
    background-color: rgba(210, 166, 121, 0.308);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
    padding: 16px;
    margin-bottom: 15px;
}

.contenido img {
    float: left;
    max-width: 150px;
    border-radius: 10px;
    margin-right: 16px;
}

.contenido iframe {
    float: right;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-left: 16px;
}

.contenido audio {
    float: left;
    width: 200px;
    margin-right: 16px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
}

.contenido p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

caption {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    color: #8b4513;
}

table {
    width: 50%;
    border-collapse: collapse;
}

thead {
    background-color: #d2a679;
    color: white;
}

th,
td {
    border: 1px solid #8b4513;
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    /* https://www.w3schools.com/cssref/sel_nth-child.php */
    background-color: #f3e2c7;
    /* Color alternado para filas impares */
}

tbody tr:nth-child(even) {
    background-color: #fff;
    /* Color para filas pares */
}

#audio {
    margin: 0;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    display: block;
    margin-left: 220px;
    padding-top: 8px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1c1c1caf;
    color: #ffffff;
    padding: 0px 40px;
    box-sizing: border-box;
}

.footer-seccion.izda {
    text-align: center;
    margin-top: 10px;
}

.footer-logo {
    max-width: 80px;
    margin-bottom: 2px;
}

/* Sección Central */
.footer-seccion.centro {
    text-align: center;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-list li {
    margin-bottom: 5px;
}

.footer-list a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-list a:hover {
    color: green;
}

.footer-seccion.drcha {
    text-align: center;
    margin-top: 10px;
}

.social-iconos {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-iconos img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-iconos img:hover {
    transform: scale(1.5);
}